/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* CSS Reset */
input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Variables */
:root {
  --clr-primary: hsl(0, 36%, 70%);
  --clr-secondary: hsl(0, 6%, 24%);
  --clr-button: hsl(0, 93%, 68%);
  --clr-cutepink: rgba(255, 245, 245, 1);
  --clr-error: hsl(0, 100%, 75%);

  --clr-gradient-primary: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 245, 245, 1) 100%
  );
  --clr-gradient-button: linear-gradient(
    135deg,
    rgba(248, 191, 191, 1) 0%,
    rgba(238, 140, 140, 1) 100%
  );
  --clr-gradient-button-active: linear-gradient(
    135deg,
    rgb(255, 208, 208) 0%,
    rgb(243, 178, 178) 100%
  );

  --ff-body: "Josefin Sans", sans-serif;
}

/* Typography */
body {
  font-family: var(--ff-body);
  font-size: 1rem;
}

h1,
h2 {
  font-size: 3rem;
}

p {
  font-size: 1.1rem;
}

/* Mini utils section */

.accent--clr {
  color: var(--clr-primary);
}

.text--thin {
  font-weight: 200;
}

/* Mobile styles */

html {
  background-color: var(--clr-cutepink);
}

header {
  padding: 1em;
  background-color: #fff;
}

.logo {
  max-width: 50;
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  background: var(--clr-gradient-primary);
}

.hero-image {
  background-image: url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1.5em;
  padding: 2em;
}

.hero__header {
  padding-top: 10%;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding-bottom: 0.5em;
}

.hero__text {
  line-height: 1.3em;
  letter-spacing: 0.4px;
  padding-bottom: 2em;
}

/* Form styles */

form {
  display: block;
  position: relative;
  width: 100%;
  height: 3em;
  margin: 0 auto;
  max-width: 30em;
}

form input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50px;
  left: 0;
  top: 0;
  border: 1px solid var(--clr-primary);
  padding-left: 2em;
  background: var(--clr-cutepink);
}

form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  outline: none;
  border: none;
  cursor: pointer;
  background: var(--clr-gradient-button);
  border-radius: 50px;
}

form button:hover {
  background: var(--clr-gradient-button-active);
}

form .error-text {
  display: none;
  position: absolute;
  left: 15%;
  top: 150%;
  color: var(--clr-error);
}

form .error-icon {
  display: none;
  position: absolute;
  top: 25%;
  right: 25%;
}

form.invalid--input .error-icon {
  display: block;
}

form.invalid--input .error-text {
  display: block;
}

/* Media query for tabs and desktop */
@media only screen and (min-width: 750px) {
  /* Typography */
  h1,
  h2 {
    font-size: 4.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  form input {
    font-size: 1.2rem;
  }

  /* Desktop styles */
  html {
    background-color: rgba(252, 222, 222, 0.322);
  }

  .logo {
    width: 200px;
  }

  header {
    padding-top: 3em;
    position: absolute;
    margin-left: 10%;
    background-color: transparent;
  }

  .main-container {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
  }

  .hero-image {
    background-image: url(../images/hero-desktop.jpg);
    width: 80%;
    height: 100vh;
  }

  .hero__header {
    line-height: 1.2em;
  }

  .hero-content {
    text-align: left;
    padding-left: 10%;
    align-items: flex-start;
    min-width: 55%;
  }

  .hero__text {
    max-width: 45ch;
    line-height: 1.5em;
  }

  form {
    margin-right: 100%;
    height: 3.5em;
  }

  form button {
    width: 6em;
  }

  form .error-text {
    display: none;
    position: absolute;
    left: 15%;
    top: 120%;
    color: var(--clr-error);
  }

  form .error-icon {
    display: none;
    position: absolute;
    top: 30%;
    right: 25%;
  }
}
